.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 30% 50%; 
    
  }
html {
    scroll-padding-top: 3.5rem;
    background-color:#f0f3ff;
}


header {
    padding-top: 6rem + 3.5rem;
    padding-bottom: 6rem;
}


section {
    padding-top: 9rem;
    padding-bottom: 9rem;
}
body{background-color:#f0f3ff;

}
.carousel .item {
    height: 1000px;
    width: 1000px;

  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 1000px;
      width: 1000px;
  }
  .nav{
padding: 2;
  }