.logoN {
	width: 110px;
	height: 110px ;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
    transform:translate(-10,0)

  }
html {
    scroll-padding-top: 3.5rem;
    background:#FFFF;
}


header {
    padding-top: 6rem + 3.5rem;
    padding-bottom: 6rem;
}


section {
    padding-top: 9rem;
    padding-bottom: 9rem;
}
body{background-color:white;

}
.carousel .item {
    height: 500px;
    width: 100%;

  }
  
.item img{
      position: absolute;
      height: 10px;
      height: 500px;
      width: 100%;
      top: 0;
      left: 0;
      min-height: 100px;

  }
img{
    height: 400px;
    width: 100%;
    border-radius: 5%;
    object-fit: cover;
    object-position: 30% 50%;
}
datalist {
    position: absolute;
    background-color: transparent;
    border-radius: 10%;
    width: 350px;
    padding: 5px;
  
  }
  
  option {
    background-color: transparent;
    padding: 4px;
    color: transparent;
    margin-bottom: 1px;
    font-size: 18px;
    cursor: pointer;
  }
  input[list]
{
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: transparent;
    padding: 10px 10px;
    color: #666;
}

label{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 100;
      min-height: 1000px;
      width: 1000px;
  }
  .nav{
padding: 2;
  }
