.summary{
margin-left: 40%;
margin-top: -10%;}
.imgDepart{
    width: 800px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
    object-position: 30% 30%; /* try 20px 10px */ 
}
.imgreturn{

    width: 800px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
    object-position: 30% 40%; /* try 20px 10px */     transform: scaleX(-1);
}
.info {background-color:rgb(34, 87, 126);
    color: rgb(244, 238, 255);
    /* padding: 2% 10%; */
    border-radius: 5px;
    size:30px;
}

.info2 {background-color:rgb(34, 87, 126);
    color: white;
    padding: 10px;
    border-radius: 25px;
}  

.data {background-color:#5584AC;
    color: white;
    padding: 6px;
    width:90%;
    border-radius: 10px;
    word-spacing: 10px;
} /* Blue */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
.connecting{
    width: 10px;
    height: 10px;
}
.orange{
    display: block;
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 90%;
    background-color:#d4902a;
    color: white;
    padding: 6px;
    border-radius: 10px;
    word-spacing: 10px;

}

  
.previous:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    text-decoration: none;
    /* display: inline-block; */
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
        border-radius: 50%;

  }
  
  .next {
    background-color: #04AA6D;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }



