.title{
  width:100%;
  background-color:#5584AC;
  color :white;
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;

}
.big{
  color :rgb(155, 155, 155);
  transform: scale(1.5) translate(60px,10px);
}
.arr{
  margin-left: 30%;
}